h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: white;
    text-align:center;
}
h3{
    color:white;
    text-align:center;
}
.jumbotron {
    background-image: url(../images/restaurant2.jpg);
    background-size: cover;
}